{
  "extends": [
    "esnext",
    "react-app"
  ],
  "rules": {
    "class-methods-use-this": ["off"],
    "no-invalid-this": ["off"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "indent": ["error", 2],
    "space-infix-ops": ["error"],
    "no-multi-spaces": ["error"],
    "keyword-spacing": ["error"],
    "max-len": ["error", { "code": 120 }],
    "no-multiple-empty-lines": ["error", { "max": 2 }],
    "object-curly-spacing": ["error", "always"]
  }
}
