{
  "extends": [
    "esnext",
    "react-app"
  ],
  "rules": {
    "class-methods-use-this": ["off"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "indent": ["error", 2]
  }
}
